# Ignore everything
*

# Allow directories to be traversed
!*/

# Allow specific file types and root files
!astrai/**/*.py
!scripts/**/*.py
!tests/**/*.py
!csrc/**/*.py

!csrc/**/*.cu
!csrc/**/*.cuh

!scripts/**/*.sh

# Allow GitHub files
!/.github/**

# Allow root files
!/.gitattributes
!/.dockerignore
!/Dockerfile
!/docker-compose.yml
!/assets/**
!/CONTRIBUTING.md
!/LICENSE
!/pyproject.toml
!/README.md
# Allow extension modules (only source .py)
!/astrai/extension/**/*.py

# Allow build files
!/setup.py
